@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: url("../src/fonts/Geist-Black.woff2") format("woff2"),
    url("../src/fonts/Geist-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../src/fonts/Geist-Bold.woff2") format("woff2"),
    url("../src/fonts/Geist-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../src/fonts/Geist-Light.woff2") format("woff2"),
    url("../src/fonts/Geist-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../src/fonts/Geist-UltraLight.woff2") format("woff2"),
    url("../src/fonts/Geist-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../src/fonts/Geist-SemiBold.woff2") format("woff2"),
    url("../src/fonts/Geist-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../src/fonts/Geist-Regular.woff2") format("woff2"),
    url("../src/fonts/Geist-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist UltraBlack";
  src: url("../src/fonts/Geist-UltraBlack.woff2") format("woff2"),
    url("../src/fonts/Geist-UltraBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../src/fonts/Geist-Thin.woff2") format("woff2"),
    url("../src/fonts/Geist-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url("../src/fonts/Geist-Medium.woff2") format("woff2"),
    url("../src/fonts/Geist-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --black-4: rgba(15, 15, 16, 0.04);
  --black-8: rgba(15, 15, 16, 0.08);
  --black-12: rgba(15, 15, 16, 0.12);
  --black-24: rgba(15, 15, 16, 0.24);
  --black-56: rgba(15, 15, 16, 0.56);
  --black-64: rgba(15, 15, 16, 0.64);
  --black-100: #0f0f10;
  --white-8: rgba(255, 255, 255, 0.08);
  --white-12: rgba(255, 255, 255, 0.12);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-56: rgba(255, 255, 255, 0.56);
  --white-80: rgba(255, 255, 255, 0.8);
  --brand-dark-12: rgba(78, 74, 155, 0.12);
}

@layer base {
  body {
    @apply font-geist;
  }
  h1 {
    @apply text-32 md:text-5xl lg:text-56 font-medium text-black-100 leading-112 md:leading-60 -tracking-1.28 md:-tracking-1.6;
  }
  h2 {
    @apply text-28 md:text-40 leading-114 md:leading-120 text-black-100 -tracking-0.56 md:-tracking-1.6 font-medium;
  }
  h3 {
    @apply text-2xl leading-120 md:text-32 md:leading-112 font-medium text-black-100 -tracking-1.28;
  }
}

@layer components {
  .h1 {
    @apply text-32 md:text-5xl lg:text-56 font-medium text-black-100 leading-112 md:leading-60 -tracking-1.28 md:-tracking-1.6;
  }
  /* label small */
  .label-s {
    @apply text-sm font-normal text-black-56 !leading-171 -tracking-0.14;
  }
  /* label medium */
  .label-m {
    @apply text-xl font-medium text-black-100 !leading-120 -tracking-0.6;
  }
  /* label large */
  .label-l {
    @apply text-2xl font-medium text-black-100 !leading-116 -tracking-0.72;
  }
  /* text base */
  .body-text {
    @apply text-sm md:text-base text-black-56 !leading-171 md:!leading-175 -tracking-0.14 md:-tracking-0.56;
  }
  /* overline */
  .overline-text {
    @apply text-base uppercase text-black-56 font-medium -tracking-0.16 !leading-175;
  }
  /* Container */
  .container-center {
    @apply container max-w-screen-xl;
  }

  /* animate */
  .animate {
    @apply transition-all duration-300 ease-in-out;
  }
  /* hover opactiy */
  .hover-opacity {
    @apply transition-all duration-300 ease-in-out hover:opacity-80;
  }
  /* buttons */
  .btn-main {
    @apply text-sm font-medium !leading-171 flex items-center justify-center -tracking-0.14 gap-2.5 py-2 px-5 text-white rounded-lg border border-transparent h-10 animate text-center;
  }
  .btn-primary {
    @apply hover:bg-brand-dark bg-brand-default border-brand-default hover:border-brand-dark;
  }
  .btn-secondary {
    @apply text-black-100 border-black-12 hover:border-black-24;
  }
  .btn-md {
    @apply h-10 md:h-12;
  }
  /* feature row */
  .feature-block {
    @apply flex flex-col items-center justify-between w-full gap-6 lg:mb-0 mb-28 md:gap-5 last:mb-0 lg:flex-row lg:pb-0 md:pb-10;
  }
  .feature-img-desktop {
    @apply hidden w-full scale-110 md:block;
  }
  .feature-img-mobile {
    @apply block w-full md:hidden;
  }

  /* Inshight card */
  .insight-card {
    @apply w-full rounded-2xl backdrop-blur-120 shadow-insight-card bg-white-80 border-[0.5px] border-black/5 py-7 md:py-12 px-6 md:px-10 h-full flex flex-col justify-between items-start;
  }
  .insight-card-header {
    @apply flex items-center justify-between w-full mb-16;
  }
  .insight-rating {
    @apply flex justify-center items-center gap-0.5 bg-white-40 rounded-full h-9 text-black font-medium px-3;
  }
  .insight-card-footer {
    @apply flex items-center gap-5 mt-10;
  }
  .insight-footer-img {
    @apply object-cover rounded-full w-[52px] h-[52px];
  }
  /* faq */
  .faq {
    @apply px-5 py-2 overflow-hidden border-b border-black-8 last:border-b-0 first:rounded-tr-2xl first:rounded-tl-2xl last:rounded-br-2xl last:rounded-bl-2xl md:py-4 md:px-8 hover:bg-black-4 animate;
  }
  .faq-btn {
    @apply flex items-center justify-between gap-4 text-base md:text-2xl font-medium !leading-120 -tracking-0.6 w-full text-left py-2 md:py-4;
  }
  .faq-icon {
    @apply w-6 h-6 shrink-0 animate;
  }
  /* footer link */
  .footer-link {
    @apply text-sm font-medium -tracking-0.14 transition-all duration-300 ease-in-out text-white hover:text-brand-default;
  }
}

@layer utilities {
  /* Menu mobile */
  .navbar-mobile {
    display: none;
  }
  .navbar-mobile.open {
    display: flex;
  }
  /* faq */
  .faq-bg {
    mask-image: url("../images/faq-bg.png");
    mask-size: 100% 100%;
    mask-position: bottom;
    mask-repeat: no-repeat;
  }
  .faq .minus-icon {
    display: none;
  }
  .faq .faq-content {
    display: none;
  }
  .faq.show-content {
    background-color: rgba(15, 15, 16, 0.04);
  }
  .faq.show-content .faq-content {
    display: block;
  }
  .faq.show-content .minus-icon {
    display: block;
  }
  .faq.show-content .plus-icon {
    display: none;
  }
  /* Setup  */
  .fill-icon {
    color: #0f0f1066;
    transition: color 0.3s ease-in-out;
  }
  .fill-icon.active {
    color: #5850ec;
  }
  .fill-line {
    transition: all 1s ease-in-out;
  }

  /* Technical & non-technical */
  .hero-btn {
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
  .hero-btn.active {
    color: #fff;
  }
  .technical-content {
    display: none;
  }
  .technical-content.active {
    display: block;
  }
  .non-technical-content {
    display: none;
  }
  .non-technical-content.active {
    display: block;
  }

  .slider-background {
    transition: transform 0.3s ease;
  }


/* Top-level list styling */
ul.list-disc {
  list-style-type: disc; /* Bullet points for top-level lists */
  padding-left: 1.5rem; /* Space from the left edge */
  margin-top: 0; /* Reset top margin */
  margin-bottom: 0; /* Reset bottom margin */
}

/* Nested lists styling */
ul.list-disc ul {
  list-style-type: circle; /* Different style for nested lists */
  padding-left: 1.5rem; /* Increase indentation for nested lists */
  margin-top: 0; /* Reset top margin */
  margin-bottom: 0; /* Reset bottom margin */
}

/* Further nested lists */
ul.list-disc ul ul {
  list-style-type: square; /* Different style for further nested lists */
  padding-left: 1.5rem; /* Increase indentation further */
  margin-top: 0; /* Reset top margin */
  margin-bottom: 0; /* Reset bottom margin */
}

/* Style for list items */


/* Ensure that paragraphs and other elements align well with lists */



/* Special handling for paragraphs with &nbsp; */


/* Base styling for ordered lists */
ol {
  padding-left: 1.5rem; /* Space from the left edge */
  margin-top: 0; /* Reset top margin */
  margin-bottom: 0; /* Reset bottom margin */
}

/* Styling for list items in ordered lists */


/* Styling for nested ordered lists */
ol ol {
  padding-left: 2rem; /* Increase indentation for nested ordered lists */
  margin-top: 0; /* Reset top margin */
  margin-bottom: 0; /* Reset bottom margin */
}

/* Styling for further nested ordered lists */
ol ol ol {
  padding-left: 2.5rem; /* Further increase indentation */
  margin-top: 0; /* Reset top margin */
  margin-bottom: 0; /* Reset bottom margin */
}

/* Ensure ordered list items are correctly numbered */
ol {
  list-style-type: decimal; /* Numbering style for ordered lists */
}

/* Optional: Specific styling for text within list items */

/* Ensure correct margin for list items in ordered lists */
ol.list-decimal.list-inside + p:not(:empty):not([data-nbsp]) {
  margin-top: 1.5rem;
}

p[data-nbsp="true"]:has(+ figure) {
    display: none;
}
ul.list-disc.list-inside + p:not(:empty):not([data-nbsp]) {
    margin-top: 1.5rem;
} 
/* Fix for bulletpoints */
.list-inside {
  list-style-position: unset;
}
}
